<div id='sprite-pane'>
  <div id='sprite-map' class='grid selectable'>
    <img id='tileset' src='' alt='Tileset'>
  </div>
</div>

<div id='toolbar'>
  <div class='controls'>
    <%- createControl('new-map', 'page_white') %>
    <%- createControl('load-map', 'folder_page') %>
    <%- createControl('save-map', 'disk') %>
    <%- createControl('save-map-as', 'disk_multiple') %>
    <%- createControl('delete-map', 'bin_closed') %>
    <%- createControl('export-json', 'box') %>
    <%- createControl('tileset-menu-open', 'color_swatch') %>
    <%- createControl('undo', 'arrow_undo') %>
    <%- createControl('redo', 'arrow_redo') %>
    <%- createControl('undo-history', 'book_open') %>
    <%- createControl('clear-localstorage', 'bomb') %>
  </div>
</div>

<div id='layer-pane'>
  
  <h2>Options</h2>
  
  <div class='controls'>
    <div class='control-row'>
      <%- createControl('add-layer', 'page_add') %>
      <%- createControl('delete-layer', 'page_delete') %>
      <%- createControl('duplicate-layer', 'page_copy') %>
      <%- createControl('move-layer', 'page_go') %>
      <%- createControl('layer-settings', 'page_gear') %>
    </div>
    <div class='control-row'>
      <%- createControl('toggle-contrast-layers', 'contrast_low') %>
      <%- createControl('toggle-eraser', 'eraser_grey') %>
    </div>
  </div>

  <ul id='layer-list'></ul>
  
</div>

<div class='menu' id='undo-history-menu'>
  <div class='close'>x</div>
  <h3>Undo History</h3>
  <ul id='undo-history-list'></ul>
</div>

<div class='menu' id='json-menu'>
  <div class='close'>x</div>
  <h3>JSON Strings</h3>
  <h4>Current Map</h4>
  <textarea id='json-map-string'></textarea>
  <h4>Current Tileset</h4>
  <textarea id='json-tileset-string'></textarea>
</div>

<div class='menu' id='tileset-menu'>
  <div class='close'>x</div>
  <h3>Tileset Editor</h3>
  <h4 id='editing-tileset-name'>tilesetName</h4>
  <div id='tileset-toolbar'>
    <div class='item' id='save-tileset' title='Save the current Tileset.'></div>
    <select id='switch-tileset'></select>
    <div class='item' id='set-tileset' title='Set the selected Tileset as this Map&#39;s.'></div>
  </div>
  <div id='editing-tileset-container'>
    <img id='editing-tileset' src='' />
  </div>
</div>

<div id='content'>
  <h1>Map Maker</h1>
  <em><h2 id='map-name'>mapName</h1></em>

  <div id='map' class='grid'>
    <div id='layers'></div>
  </div>
</div>
